body
	background-color #006db0
	font-family 'Roboto', sans-serif

h1, #main-nav, h2
	font-family 'Bevan', cursive
	text-transform uppercase

h1
	font-size 28px

h2
	font-size 16px

p
	font-weight 300

strong
	font-weight 900

.bg-gray
	background-color #d2d2d2

	h1
		color #006db0

.bg-blue
	background-color #006db0

	h1
		color #fff

/* Main Nav */

header nav
	height 50px
	border-bottom 2px solid #fff

#main-nav
	height 40px

	li
		list-style-type none
		line-height 40px
		float left

		a
			font-size 21px
			color #6bb1dc
			text-decoration none
			transition all 100ms
			display block
			height 40px
			margin-right 20px

			&:hover
				color #fff

		#nav-home
			position relative
			top -30px

#social

	h2
		margin 0
		border-top 2px solid #fff
		color #006db0
		text-align center

#news

	.news-column
		width 45%
