body
	background-color #006db0
	font-family 'Roboto', sans-serif

h1, #main-nav, h2
	font-family 'Bevan', cursive
	text-transform uppercase

h1
	font-size 28px
	margin 0
	padding-bottom 10px

h2
	font-size 16px

p
	font-weight 300

strong
	font-weight 900

.bg-gray
	background-color #adadad

	h1
		color #006db0

.bg-blue
	background-color #006db0
	color #fff

	h1
		color #fff

.content-container
	width 1200px
	margin 0 auto
	padding 20px 0

.flex-container
	width 1200px
	display flex
	flex-direction row
	justify-content space-between

.content-left, .content-right
	width 45%

/* Main Nav */

header nav
	height 105px
	border-bottom 5px solid #fff

#main-nav
	height 90px
	margin 0
	padding 0
	display flex
	justify-content center

	li
		list-style-type none
		line-height 90px

		a
			font-size 21px
			color #6bb1dc
			text-decoration none
			transition all 100ms
			display block
			height 40px
			margin-right 20px

			&:hover
				color #fff

		#nav-home
			position relative

#slider

	.slide img
		width 100%

#social

	h2
		margin 0
		border-top 2px solid #fff
		color #006db0
		text-align center

ul.social-nav
	display flex
	justify-content center
	margin 0
	padding 10px 0

	li
		list-style-type none
		margin-right 10px

#news

	.news-column
		width 45%

	strong
		color #006db0

#contact

	#contact-left
		width 45%
		display flex

		#contact-logos
			width 45%

		.contact-info
			margin-bottom 20px

			a
				color #fff
				text-decoration none

				&:hover
					text-decoration underline

			p
				margin 0

	#contact-right
		width 45%

footer
	text-align center

	p
		margin 0
		padding 2px 0
		border-top 4px solid #fff
